<!-- <h3>hi</h3> -->
<!-- <h3>{{value}}</h3> -->
<!-- <input type="text" [value]="val"> -->
<!-- <h3 class="para1" style="color:red">arpita</h3> -->
<!-- <h3 [style.color]="isSpeacial?c1:c2">binding</h3> -->
<!-- <h3 [style.color]="hi">binding</h3> -->

<!-- <h3 [class]="isSpeacial?'para1':'para2'">class binding</h3> -->
<!-- <table border="solid 2px">
    <tr>
        <th [attr.colspan]="colval">person</th>
    </tr>
    <tr>
        <td>sahana</td>
    <td>patil</td>
</tr>
<tr>
    <td>arpita</td>
    <td>patil</td>
</tr>
</table> -->
 <!-- <button (click)="display()">click</button> -->
<input type="text" [(ngModel)]="displayResult">
<h3>{{displayResult}}</h3> 
<!-- <app-parent></app-parent> -->
<!-- <input type="text" [(ngModel)]="userNumber" placeholder="Enter any number">  
<p>{{userNumber|reverseNumber}}</p>   -->